.cspell
.vscode
.venv
deploy
tmp
dist
Dockerfile
docker-compose.yml
db.sqlite3
.git
.env
.envrc
.env.*
*.env
.editorconfig
.gitignore
.dockerignore
*.log
.tool-versions
.direnv
docker-compose.*
dist/
